<h1>About WDI8 Ipsum</h1>
<p>Ipsum Generators have become quite the talking point in Sydney's GA WDI8 Class. A number of alternatives have been discussed, from Hipster Ipsum to Ryan Gosling Ipsum. I wasn't really satisified with any of these so I thought I'd try and make a version unique to the culture of our class and the vocabulary of our inimitable teacher, Joel. The app has been built using Ruby, Sinatra, Skeleton CSS, JavaScript and jQuery.</p>
<p>Hope you like it!</p>

<a class="button button-primary" href="/">Get Some Ipsum</a>